.inner_work_detail{
  width: 100%;
  overflow: hidden;
  .banner{
    position: relative;
    width: 100%;
    .sky{
      position: relative;
      width: 100%;
      height: 783px;
      background: url("#{$img_path}skybg_wde.png") top center repeat-x;
      @include background-size(contain);
      @media #{$nb1100} {
        height: 700px;
      }
      @media #{$pad} {
        height: auto;
        min-height: 610px;
      }
      div{
        line-height: 0;
      }
      svg{
        width: 100%;
      }
      .sky_texture{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        svg{
          width: auto;
        }
      }
      .fence{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        @media #{$mobile} {
          width: 200%;
        }
      }
      .grass_fence{
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        z-index: 1;
      }
      .tree_wde_l{
        width: 202px;
        position: absolute;
        bottom: 0px;
        left: 696/1920*100%;
        z-index: 0;
        @media #{$pc_s} {
          width: 210px;
          left: 800/1920*100%;
        }
        @media #{$nb1100} {
          left: auto;
          right: -60px;
        }
        @media #{$mobile}{
          display: none;
        }
      }
      .tree_wde_r{
        width: 245px;
        position: absolute;
        bottom: 0px;
        left: 200/1920*100%;
        z-index: 0;
        @media #{$pc_s} {
          width: 280px;
          left: 40px;
        }
        @media #{$nb1100} {
          width: 240px;
          left: -60px;
        }
        @media #{$mobile}{
          display: none;
        }
      }
      .cloud_l{
        width: 278px;
        position: absolute;
        top: 40px;
        left: -50px;
        z-index: 0;
        @media #{$pc_s} {
          width: 220px;
        }
        @media #{$pad} {
          width: 130px;
        }
      }
      .wde_title{
        padding-top: 125px;
        text-align: center;
        font-size: 45px;
        font-weight: 500;
        color: #333333;
        text-align: center;
        line-height: 55px;
        letter-spacing: 2px;
        @media #{$pad} {
          padding: 90px 15px 0;
          font-size: 30px;
          line-height: 40px;
        }
      }
      .pro_history{
        position: relative;
        margin-top: 120px;
        padding-right: 870px;
        z-index: 2;
        @media #{$pc_m} {
          padding-right: 600px;
          margin-top: 90px;
        }
        @media #{$nb1100}  {
          padding: 0 15px;
          margin-top: 30px;
        } 
        @media #{$nb500} {
          margin-top: 20px;
        }
        .respon{
          display: block;
          font-size: 20px;
          font-weight: 500;
          color: $col_blue;
          margin-bottom: 10px;
          @media #{$pad} {
            font-size: 18px;
            line-height: 22px;
          }
        }
        p{
          font-size: 20px;
          font-weight: 300;
          color: #333333;
          text-align: justify;
          line-height: 32px;
          letter-spacing: 1px;
          background: #fff;
          padding: 40px 60px;
          -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
          -webkit-border-bottom-right-radius: 20px;
          border-bottom-right-radius: 20px;
          @media #{$pc_s} {
            padding: 40px;
          }
          @media #{$nb1100}  {
            -webkit-border-radius: 20px;
            border-radius:20px;
          } 
          @media #{$pad} {
            font-size: 18px;
            line-height: 27px;
          }
          @media #{$mobile} {
            padding: 20px;
          }
        }
      }
    }
    .group_link{
      @media #{$nb1100}  {
        background: url("#{$img_path}stone_wde.png") 20px center no-repeat;
        @include background-size(contain);
        background-color: #F6F7F5;
        text-align: center;
        padding-top: 20px;
      } 
      .view{
        @media #{$nb1100}  {
          margin-top: -15%;
          position: relative;
          display: inline-block;
        } 
        @media #{$nb500}  {
          width: 100%;
          margin-top: 0;
        } 
      }
    }
    .doghouse{
      width: 616px;
      position: absolute;
      bottom: -30px;
      right: 0;
      z-index: 2;
      @media #{$pc_m} {
        width: 450px;
      }
      @media #{$nb1100}  {
        position: relative;
        width: 490px;
        bottom: 0;
      } 
      @media #{$nb500}  {
        width: 100%;
      } 
    }
    .website_link{
      position: absolute;
      bottom: -100px;
      right: 165px;
      z-index: 5;
      display: block;
      @extend %inline_item;
      @media #{$pc_m} {
        right: 45px;
        bottom: -77px;
      }
      &.graphic_dog{
        right: 265px;
        @media #{$nb1100} {
          right: 0;
        } 
      }
      @media #{$nb1100} {
        position: absolute;
        bottom: -33px;
        right: 0;
        width: 100%;
      } 
      @media #{$nb500} {
        right: 0;
        bottom: -79px;
      }
      .dog_wed{
        width: 300px;
        @extend %inline-block;
        vertical-align: bottom;
        @media #{$pc_s} {
          width: 250px;
        }
        @media #{$nb1100} {
          width: 170px;
        }
        @media #{$nb500} {
          margin-right: 60px;
        }
        &.dog_jimmy{
          width: 250px;
          @media #{$nb1100} {
            width: 180px;
          }
          @media only screen and (max-width: 420px) {
            width: 140px;
          }
        }
      }
      p{
        @extend %inline-block;
        font-size: 30px;
        line-height: 32px;
        letter-spacing: 2px;
        font-weight: bold;
        color: $col_blue;
        vertical-align: bottom;
        padding-right: 30px;
        background: url("#{$img_path}arrow_link.png") center right no-repeat;
        -webkit-background-size: image-width("#{$img_path}arrow_link.png")/1.5 auto;
        -o-background-size: image-width("#{$img_path}arrow_link.png")/1.5 auto;
        background-size: image-width("#{$img_path}arrow_link.png")/1.5 auto;
        @media #{$pc_s} {
          font-size: 24px;
          line-height: 27px;
        }   
        @media #{$nb500} {
          margin-top: 15px;
        }
      }
    }
  }
  .road_wde{
    padding: 140px 0 0;
    background: url("#{$img_path}stone_wde.png") top center no-repeat;
    @include background-size(contain);
    background-color: $col_road;
    @media #{$pad} {
      padding: 90px 0 0;
    }
    @media #{$nb500} {
      padding: 110px 0 0;
    }
    .main{
      position: relative;
      &::before{
        content: ""; 
        position: absolute;
        left: -20%;
        top: 50%;
        @include bg("stone_left.png");
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        @media #{$pc_s} {
          display: none;
        }  
      }
      &::after{
        content: ""; 
        position: absolute;
        right: -20%;
        top: 50%;
        @include bg("stone_right.png");
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        @media #{$pc_s} {
          display: none;
        } 
      }
    }
    .glasstitle{
      margin-bottom: 30px;
      @media #{$mobile} {
        margin-bottom: 15px;
      }
    }
    .idea{
      margin-bottom: 115px;
      @media #{$pad} {
        margin-bottom: 15px;
      }
      .ideatt{
        font-size: 20px;
        line-height: 36px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #333333;
        text-align: justify;
        @media #{$mobile} {
          font-size: 18px;
          line-height: 32px;
        }
      }
      .lights_box{
        margin:0 -4%;
        margin-top: 50px;
        @media #{$mobile} {
          margin-top: 30px;
        }
        .item{
          float: left;
          padding: 0 4%;
          text-align: center;
          @media #{$nb1100} {
            margin-bottom: 30px;
            width: 50%;
          } 
          .view{
            @extend %inline-block;
            @include bg("light_foot.png");
            position: relative;
            @media #{$nb500} {
              @include bg_n("light_foot.png");
            } 
          }
          p{
            position: absolute;
            top: 50%;
            left: 30px;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 20px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 1px;
            color: #333333;
            @media #{$nb500} {
              font-size: 16px;
              line-height: 20px;
              left: 15px;
            } 
            &.fivetxt{
              left: 20px;
              @media #{$nb500} {
                left: 10px;
              } 
            }
          }
        }
      }
    }
    .hightlight{
      position: relative;
      text-align: right;
      margin-bottom: 115px;
      @media #{$pad} {
        margin-bottom: 50px;
        text-align: center;
      }
      .img_hight{
        @extend %inline-block;
        width: 522px;
        @media #{$pad} {
          width: 50%;
        }
        @media #{$mobile} {
          width: 100%;
        }
      }
      .leftarea{
        text-align: left;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding-right: 570px;
        @media #{$pad} {
          position: relative;
          top: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(00);
          transform: translate(00);
          padding-right: 0px;
          margin-bottom: 50px;
        }
        @media #{$mobile} {
          margin-bottom: 20px;
        }
        ul{
          list-style: decimal;
          margin-left: 30px;
          li{
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1px;
            color: #333333;
            margin-bottom: 30px;
            @media #{$pad} {
              margin-bottom: 15px;
            }
            @media #{$mobile} {
              font-size: 18px;
              line-height: 27px;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .process{
      text-align: center;
      @media #{$pad} {
        text-align: left;
      }
      .graphbox{
        img{
          width: 100%;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .glasstitle{
        margin-bottom: 60px;
        @media #{$pad} {
          margin-bottom: 30px;
        }
        @media #{$mobile} {
          margin-bottom: 15px;
        }
      }
      .probox{
        @extend %inline_item;
        position: relative;
        .line{
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -1px;
          width: 2px;
          height: 100%;
          background: #cccccc;
          z-index: 1;
          @media #{$pad} {
            display: none;
          } 
        }
        &::before{
          content: ""; 
          position: absolute;
          left: 50%;
          top: -15px;
          @include bg("flower.png");
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          z-index: 2;
          @media #{$pad} {
            display: none;
          }  
        }
        &::after{
          content: ""; 
          position: absolute;
          left: 50%;
          bottom: -15px;
          @include bg("flower.png");
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          z-index: 2;
          @media #{$pad} {
            display: none;
          } 
        }
      }
      .item{
        text-align: left;
        padding: 0;
        @extend %inline-block;
        vertical-align: top;
        &:nth-child(2){
          padding-right: 75px;
          @media #{$pad} {
            padding-right: 0;
            margin-bottom: 30px;
          } 
        }
        &:last-child{
          padding-left: 75px;
          @media #{$pad} {
            padding-left: 0;
          } 
        }
        .process_tit{
          font-size: 30px;
          font-weight: 500;
          line-height: 40px;
          letter-spacing: 1px;
          color: #000000;
          margin-bottom: 30px;
          @media #{$pad} {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 5px;
          } 
        }
        .process_det{
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 1px;
          color: #333333;
          text-align: justify;
          @media #{$pad} {
            font-size: 18px;
            line-height: 32px;
          } 
        }
      }
    }
    .set{
      .roof_cover{
        padding-top: 150px;
        width: 100%;
        position: relative;
        @media #{$pad} {
          padding-top: 60px;
        }
        .treset_l{
          content: ""; 
          position: absolute;
          left: 0;
          bottom: 0;
          width:413/1920*100%;
          z-index: 1;
        }
        .treset_r{
          content: ""; 
          position: absolute;
          right: 0;
          bottom: 0;
          width:232/1920*100%;
          z-index: 1;
        }
        .pb{
          position: relative;
          padding-bottom: 290/1920*100%;
          background: url("#{$img_path}roof_wd.png") center center no-repeat;
          @include background-size(contain);
          z-index: 2;
        }
      }
      .area{
        margin-bottom: 85px;
      }
    }
  }
}
.setbg{
  background: #fff;
  text-align: center;
  padding-bottom: 40px;
  div{
    line-height: 0;
  }
  .area{
    text-align: left;
    margin-bottom: 85px;
    &.area_v2{
      .left_box{
        margin-bottom: 85px;
        &:last-child{
          margin-bottom: 0;
        }
        @media #{$pad} {
          margin-bottom: 40px;
        }
      }
    }
    &:last-child{
      margin-bottom: 50px;
      @media #{$pad} {
        margin-bottom: 0;
      }
      .left_box{
        &:first-child{
          @media #{$mobile} {
            margin-bottom: 0;
          }
        }
      }
    }
    @media #{$mobile} {
      margin-bottom: 40px;
    }
  }
  .left_box{
    &:first-child{
      @media #{$mobile} {
        margin-bottom: 30px;
      }
    }
    .infobox{
      @extend %inline_item;
      margin-top: 30px;
      text-align: center;
      @media #{$mobile} {
        margin-top: 20px;
      }
      &.ttl{
        .icon_t{
          text-align: left;
        }
      }
      &.mbtn_2{
        .item_inf{
          @media #{$mobile} {
            margin-bottom: 30px;
            &:nth-child(3),&:last-child{
              margin-bottom: 0;
            }
            img{
              width: 100%;
            }
          }
        }
      }
      .icon_v2{
        @extend %inline_item;
        width: 50%;
        padding: 0 15px;
        @media #{$pad} {
          width: 100%;
          margin-bottom: 30px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        &.threeicon{
          .item_inf{
            @media #{$mobile}{
              padding: 0 30px;
            }
          }
        }
        &.fouricon{
          .item_inf{
            @media #{$mobile}{
              padding: 0 20px;
            }
          }
        }
        .icontxt_v2{
          font-size: 24px;
          line-height: 40px;
          font-weight: 500;
          letter-spacing: 1px;
          color: #333333;
          margin-bottom: 30px;
          border-bottom: solid 1px #333333;
          padding-bottom: 5px;
          @media #{$pad} {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
          }
        }
      }
      .color_info{
        svg{
          width: 100%;
        }
        &.pc{
          display: block;
          @media #{$mobile} {
            display: none;
          }
        }
        &.mb{
          display: none;
          @media #{$mobile} {
            display: block;
          }
        }
      }
      .item_inf{
        @extend %inline-block;
        vertical-align: top;
        @media #{$mobile} {
          padding: 0 10px;
        }
      }
      .icon_t{
        font-size: 24px;
        line-height: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #333333;
        margin-bottom: 15px;
        @media #{$pad} {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
      img{
        margin: 0 auto;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .cirtt{
      text-align: center;
      width: 160px;
      height: 160px;
      -webkit-border-radius: 50%;
      border-radius:50%;
      border: dashed 1px #7AB753;
      padding: 10px;
      overflow: hidden;
      @media #{$pad} {
        width: 90px;
        height: 90px;
      }
      &.auto_wid{
        width: auto;
        height: auto;
        -webkit-border-radius: 50px;
        border-radius:50px;
        @extend %inline-block;
        @media #{$pad} {
          padding: 5px;
        }
        p{
          -webkit-border-radius: 50px;
          border-radius:50px;
          font-size: 36px;
          line-height: 40px;
          padding: 15px 30px;
          letter-spacing: 2px;
          @media #{$pad} {
            font-size: 20px;
            line-height: 27px;
            padding: 5px 10px;
          }
        }
      }
      p{
        -webkit-border-radius: 50%;
        border-radius:50%;
        background: #F6F7F5;
        width: 100%;
        height: 100%;
        font-size: 45px;
        font-weight: bold;
        line-height: 138px;
        letter-spacing: 1px;
        color: #7AB753;
        @media #{$pad} {
          font-size: 30px;
          line-height: 68px;
        }
        @media #{$mobile} {
          font-size: 24px;
        }
      }
    }
    .toparea{
      position: relative;
      margin-bottom: 50px;
      @media #{$mobile} {
        margin-bottom: 20px;
      }
      .titcir{
        text-align: left;
        width: 100%;
        padding-left: 185px;
        font-size: 36px;
        line-height: 40px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #333333;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        @media #{$pad} {
          padding-left: 120px;
          font-size: 24px;
          line-height: 30px;
        }
        @media #{$mobile} {
          font-size: 20px;
        }
      }
    }
    .fsbox{
      overflow: auto;
      text-align: left;
      white-space: nowrap;
      @extend %inline_item;
      .row{
        @media #{$pad} {
          margin: 0;
        }
      }
      .bgtt{
        font-size: 30px;
        font-weight: bold;
        line-height: 36px;
        letter-spacing: 1px;
        color: #333333;
        margin-bottom: 20px;
        @media #{$pad} {
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 10px;
        }
      }
      .item{
        @extend %inline-block;
        vertical-align: top;
        min-width: 120px;
      }
      ul{
        li{
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 1px;
          color: #333333;
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
          @media #{$pad} {
            font-size: 16px;
            line-height: 27px;
          }
        }
      }
    }
  }
}
.ttbox{
  text-align: center;
}
.design_real{
  .glasstitle{
    @media #{$nb1100}{
      margin-bottom: 30px;
    }
    @media #{$pad}{
      margin-bottom: 15px;
    }
  }
}
.realpic{
  background: #F5F2ED;
  position: relative;
  @media #{$pad} {
    background: url("#{$img_path}mobil_bg_m.svg") top center no-repeat;
    @include background-size(cover);
  }
  .realbg_l{
    width: 1600/1920*100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    @media #{$pad}{
      display: none;
    }
  }
  .realbg_r{
    width: 1300/1920*100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    @media #{$pad}{
      display: none;
    }
  }
  .m_tt{
    display: none;
    @media #{$nb1100} {
      display: block;
      font-size: 30px;
      line-height: 36px;
      font-weight: bold;
      letter-spacing: 5px;
      color: #DBD2C2;
      text-align: center;
      margin-bottom: 20px;
    }
    @media #{$pad}{
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
  .real_com{
    width: 830px;
    @media #{$nb1100}{
      margin: 0 auto;
      display: block;
    }
    @media #{$pad}{
      width: 100%;
    }
  }
  .left_ipad{
    position: absolute;
    bottom: 60px;
    right: 0;
    text-align: right;
    @media #{$nb1100}{
      position: relative;
      bottom: 0;
    }
    .padtt{
      width: 236/520*100%;
      @extend %inline-block;
      @media #{$nb1100}{
        display: none;
      }
    }
    img{
      display: block;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
      &.ipad_pic{
        width: 510px;
        @media #{$nb1100}{
          width: 80%;
          margin: 0 auto;
          display: block;
          margin-top: 30px;
        }
        @media #{$pad}{
          width: 100%;
        }
      }
    }
  }
  .whbg{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    .pb{
      position: relative;
      width: 100%;
      height: 447px;
      background: #fff;
      @media #{$nb1100}{
        height: 490px;
      }
      @media #{$pad} {
        height: auto;
        padding-bottom: 1100/1920*100%;
      }
      .dog_real{
        width: 233/1200*100%;
        position: absolute;
        bottom: -11%;
        right: 12%;
        @media #{$pc_s}{
          right: 6%;
        }
        @media #{$nb1100}{
          display: none;
        }
        &.i_jimmy{
          bottom: -5%;
        }
        &.i_neo{
          width: 17%;
        }
      }
    }
  }
  .main{
    position: relative;
    z-index: 2;
    .pc_pad{
      position: relative;
      margin-bottom: 90px;
      @media #{$pad}{
        margin-bottom: 30px;
      }
    }
    .mobile{
      position: relative;
      padding-left: 290/1200*100%;
      @media #{$pad}{
        padding-left: 0;
      }
      .tilte_mb{
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        width: 253/1200*100%;
        @media #{$pad}{
          position: relative;
          top: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%;
          margin-bottom: 10px;
        }
        .view{
          position: relative;
          width: 100%;
          height: 100%;
          @media #{$pad}{
            text-align: center;
          }
        }
        img{
          width: 130/253*100%;
          @media #{$pad}{
            display: none;
          }
        }
        p{
          position: absolute;
          bottom: 50%;
          right: 20%;
          @extend %inline-block;
          font-size: 90px;
          line-height:100px;
          font-weight: bold;
          letter-spacing: 15px;
          margin-bottom: -260px;
          color: #DBD2C2;
          @include rotate(90deg);
          transform-origin: center right;
          @media #{$pad}{
            position: relative;
            transform: rotate(0deg);
            bottom: 0;
            right: 0;
            margin-bottom: 0;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: 5px;
          }
        }
      }
      .mob_pic{
        width: 100%;
      }
    }
  }
}
.other_work{
  position: relative;
  z-index: 3;
  margin-top: 80px;
  @media #{$pad} {
    margin-top: 20px;
  }
  .l_box{
    position: relative;
    @media #{$pad} {
      padding: 0 15px;
    }
    .backbtn{
      display: block;
      position: absolute;
      right: -250px;
      top: 25%;
      span{
        @extend %inline-block;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 2px;
        color: #0372AC;
        padding-right: 35px;
        background: url("#{$img_path}back_arrow.svg") right center no-repeat;
        @media #{$mobile}{
          font-size: 20px;
          line-height: 27px;
          -webkit-background-size: 22px auto;
          -o-background-size: 22px auto;
          background-size: 22px auto;
        }
      }
      @media #{$pad}{
        position: relative;
        right: 0;
        top: 0;
        border: solid 1px #1072ac;
        margin-bottom: 40px;
        padding: 15px;
        -webkit-border-radius: 20px;
        border-radius: 30px;
      }
    }
  }
  .obposbox{
    width: 1285/1920*100%;
    position: relative;
    @media #{$pad} {
      width: 100%;
      text-align: center;
    }
  }
  .objoectbox{
    position: relative;
    width: 100%;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid 6px #543205;
    background: #fff;
    padding-left:320/1285*100%;
    @media #{$pad} {
      -webkit-border-radius: 20px;
      border-radius: 20px;
      padding-left: 0;
      overflow: hidden;
    }
    .obtitle{
      position: absolute;
      top: 0;
      left: 0;
      width: 320/1285*100%;
      height: 100%;
      background: #7E5620;
      display: flex;
      justify-content: center;
      align-items: center; 
      overflow: hidden;
      @media #{$pad} {
        position: relative;
        width: 100%;
        padding: 15px;
      }
      &::before{
        content: ""; 
        position: absolute;
        left: -50px;
        top: -50px;
        width: 178px;
        height: 178px;
        background: url("#{$img_path}foot_l.svg") center center no-repeat;
        @include background-size(contain);
      }
      &::after{
        content: ""; 
        position: absolute;
        right: -50px;
        bottom: -50px;
        width: 178px;
        height: 178px;
        background: url("#{$img_path}foot_r.svg") center center no-repeat;
        @include background-size(contain);
      }
      p{
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 5px;
        color: #FFFFFF;
        @media #{$pad} {
          font-size: 20px;
          line-height: 27px;
        }
      }
    }
  }
  .high110{
    width: 1285/1920*100%;
    height: 110px;
    position: relative;
    @media #{$pad} {
      width: 100%;
      height: 80px;
    }
    @media #{$mobile} {
      height: 60px;
    }
    .pole{
      position: absolute;
      top: 0;
      left: 30%;
      width: 30px;
      height: 100%;
      background: #543205;
      @media #{$mobile} {
        left: 20%;
      }
      &:last-child{
        left: auto;
        right: 30%;
        @media #{$mobile} {
          right: 20%;
        }
      }
    }
  }
  .whileft{
    padding: 30px 15px;
    .item_work{
      display: block;
      @media #{$pad} {
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      @media #{$pc} {
        &:hover{
          .pb{
            img{
              @include scale(1.1);
            }
          }
          p{
            color: #A56107;
          }
        }
      }
      .imgbox{
        width: 100%;
        margin-bottom: 15px;
        .pb{
          padding-bottom:194/390*100%;
          position: relative;
          overflow: hidden;
          -webkit-border-radius: 10px;
          border-radius:10px;
          img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @extend %bg_change; 
          }
        }
      }
      p{
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 3px;
        color: #543205;
        @extend %bg_change; 
        @media #{$pc_s} {
          font-size: 24px;
          line-height: 30px;
        }
        @media #{$pad} {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}
.workpb{
  padding-bottom: 960/1920*100%;
  background: #F6F7F5;
  position: relative;
  @media #{$mobile} {
    padding-bottom: 60%;
  }
  @media #{$nb500} {
    padding-bottom: 75%;
  }
  &.about{
    padding-bottom: 53%;
    @media #{$nb500} {
      padding-bottom: 70%;
    }
    .me_pic{
      position: absolute;
      bottom: 0;
      right: 205/1920*100%;
      width: 532/1920*100%;
      z-index: 4;
    }
    .ban_title{
      @media #{$mobile} {
        top: calc(120/500*100%);
      }
      @media #{$nb500} {
        top: calc(140/500*100%);
      }
    }
    .dog_about{
      position: absolute;
      bottom: 0;
      right: 233/1920*100%;
      width: 225/1920*100%;
      z-index: 4;
    }
    .fountain{
      position: absolute;
      bottom: -5%;
      left: 285/1920*100%;
      width: 638/1920*100%;
      z-index: 4;
    }
    .stone_ab{
      position: absolute;
      bottom: -5%;
      left: 50%;
      width: 1680/1920*100%;
      z-index: 4;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      .pb{
        padding-bottom: 168/1680*100%;
        background: url("#{$img_path}about_stone.svg") center center no-repeat;
        @include background-size(contain);
      }
    }
    .skybg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-bottom: inset 15px #5E5651;
      .pb{
        position: relative;
        padding-bottom: 820/1920*100%;
        background: url("#{$img_path}about_skybg.svg") center center no-repeat;
        @include background-size(contain);
        @media #{$nb500} {
          padding-bottom: calc(1100/1920*100%);
          @include background-size(cover);
        }
        .roadlight{
          position: absolute;
          bottom: -1%;
          left: 110/1920*100%;
          width: 145/1920*100%;
          z-index: 3;
          &.two{
            left: auto;
            right: 655/1920*100%;
          }
          .pb{
            padding-bottom: 460/145*100%;
            background: url("#{$img_path}about_light.svg") center center no-repeat;
            @include background-size(contain);
          }
        }
        .sky_line{
          position: absolute;
          top: 137/960*100%;
          left: 0;
          width: 100%;
          .pb{
            position: relative;
            padding-bottom: 308/1915*100%;
            background: url("#{$img_path}about_sky.svg") center center no-repeat;
            @include background-size(contain);
          }
        }
        .grassland{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 3;
          .pb{
            position: relative;
            padding-bottom: 190/1920*100%;
            background: url("#{$img_path}about_grassland.svg") top center no-repeat;
            @include background-size(cover);
          }
          .tree_1{
            position: absolute;
            bottom: 83/190*100%;
            right: 20/1920*100%;
            width: 117/1920*100%;
            .pb{
              position: relative;
              padding-bottom: 295/117*100%;
              background: url("#{$img_path}about_tree_1.svg") top center no-repeat;
              @include background-size(contain);
            }
          }
        }
        .grass{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 3;
          .pb{
            position: relative;
            padding-bottom: 70/1920*100%;
            background: url("#{$img_path}about_grass.svg") top center no-repeat;
            @include background-size(cover);
          }
        }
        .city{
          position: absolute;
          bottom: 93/960*100%;
          left: 0;
          width: 100%;
          z-index: 1;
          .pb{
            position: relative;
            padding-bottom: 238/1920*100%;
            background: url("#{$img_path}about_city.svg") top center no-repeat;
            @include background-size(cover);
            .tree_3{
              position: absolute;
              bottom: 30/238*100%;
              left: 342/1920*100%;
              width: 166/1920*100%;
              .pb{
                position: relative;
                padding-bottom: 209/166*100%;
                background: url("#{$img_path}about_tree_3.svg") top center no-repeat;
                @include background-size(contain);
              }
            }
            .tree_2{
              position: absolute;
              bottom: 0;
              right: 135/1920*100%;
              width: 412/1920*100%;
              .pb{
                position: relative;
                padding-bottom: 518/412*100%;
                background: url("#{$img_path}about_tree_2.svg") top center no-repeat;
                @include background-size(contain);
                @media #{$mobile} {
                  padding-bottom: calc(950/1920*100%);
                  @include background-size(contain);
                }
                @media #{$nb500} {
                  padding-bottom: calc(380/640*100%);
                  @include background-size(contain);
                }
              }
            }
          }
        }
      }
    }
  }
  .ban_title{
    position: absolute;
    top: 215/960*100%;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
    @media #{$mobile} {
      top: calc(180/500*100%);
    }
    @media #{$nb500} {
      top: calc(210/500*100%);
    }
    h2{
      font-size: 45px;
      color: #333333;
      line-height: 50px;
      letter-spacing: 2px;
      margin-bottom: 5px;
      @media #{$pc_s} {
        font-size: 40px;
        line-height: 42px;
      }
      @media #{$pad} {
        font-size: 30px;
        line-height: 32px;
        font-weight: 500;
      }
      @media #{$mobile} {
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 0;
      }
    }
    h3{
      font-size: 45px;
      color: #3BA1AC;
      line-height: 50px;
      letter-spacing: 2px;
      @media #{$pc_s} {
        font-size: 40px;
        line-height: 42px;
      }
      @media #{$pad} {
        font-size: 30px;
        line-height: 32px;
        font-weight: 500;
      }
      @media #{$mobile} {
        font-size: 24px;
        line-height: 27px;
      }
    }
  }
  .wallpaper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .pb{
      position: relative;
      padding-bottom: 750/1920*100%;
      background: url("#{$img_path}listbg.svg") center center no-repeat;
      @include background-size(contain);
      @media #{$mobile} {
        padding-bottom: 950/1920*100%;
        @include background-size(cover);
      }
      @media #{$nb500} {
        padding-bottom: 380/640*100%;
        @include background-size(cover);
      }
      .clock{
        position: absolute;
        top: 190/960*100%;
        right: 295/1920*100%;
        width: 155/1920*100%;
        @media #{$mobile} {
          top: calc(150/500*100%);
        }
        @media #{$nb500} {
          top: calc(200/500*100%);
        }
        .pb_c{
          padding-bottom: 100%;
          background: url("#{$img_path}clock.svg") center center no-repeat;
          @include background-size(contain);
        }
      }
      .window{
        position: absolute;
        top: 100/960*100%;
        left: 245/1920*100%;
        width: 440/1920*100%;
        @media #{$mobile} {
          top: calc(170/500*100%);
        }
        @media #{$nb500} {
          top: calc(200/500*100%);
          left: calc(40/640*100%);
        }
        .pb_w{
          padding-bottom: 570/440*100%;
          background: url("#{$img_path}window.svg") center center no-repeat;
          @include background-size(contain);
        }
      }
    }
  }
  .sofa{
    position: absolute;
    bottom: 88/960*100%;
    right: 110/1920*100%;
    width: 1122/1920*100%;
    .pb{
      position: relative;
      padding-bottom: 545/1122*100%;
      background: url("#{$img_path}sofa.svg") center center no-repeat;
      @include background-size(contain);
      .dog_list{
        position: absolute;
        bottom: 2%;
        right: 200/1122*100%;
        width: 394/1122*100%;
      }
    }
  }
}
.list_content{
  background: $col_road;
  padding-bottom: 40px;
  &.about_content{
    padding: 100px 0;
    @media #{$pad} {
      padding: 40px 0;
    }
    .info_1{
      position: relative;
      text-align: right;
      margin-bottom: 50px;
      @media #{$pad} {
        text-align: center;
        margin-bottom: 20px;
      }
      img{
        @extend %inline-block;
      }
      p{
        position: absolute;
        left: 0;
        top: 50%;
        padding-right: 520px;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        transform: translate(0,-50%);
        font-size: 20px;
        font-weight: 400;
        color: #333333;
        line-height: 40px;
        letter-spacing: 2px;
        text-align: justify;
        @media #{$pad} {
          position: relative;
          top: 0;
          -webkit-transform: translate(0,0);
          -ms-transform: translate(0,0);
          transform: translate(0,0);
          margin-bottom: 30px;
          padding-right: 0;
          font-size: 16px;
          line-height: 27px;
        }
      }
    }
    .info_2{
      margin-bottom: 50px;
      @media #{$pad} {
        margin-bottom: 20px;
      }
      .glasstitle{
        @media #{$pad} {
          margin-bottom: 15px;
        }
      }
      .experpp{
        font-size: 30px;
        color: #333333;
        line-height: 40px;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-weight: 500;
        @media #{$pad} {
          margin-bottom: 15px;
          font-size: 20px;
          line-height: 30px;
        }
        span{
          margin: 0 10px;
        }
      }
      .list_experbox{
        margin-bottom: 40px;
        @media #{$pad} {
          margin-bottom: 20px;
        }
        .title_pbox{
          margin-bottom: 20px;
          @media #{$pad} {
            margin-bottom: 10px;
          }
          .stonenum{
            width: 64px;
            text-align: center;
            background: url("#{$img_path}list_stone.svg") center center no-repeat;
            font-size: 30px;
            color: #fff;
            font-style: italic;
            line-height: 36px;
            float: left;
            @media #{$mobile} {
              font-size: 24px;
              line-height: 30px;
              @include background-size(contain);
              float: none;
            }
          }
          .wordtt{
            margin-left: 70px;
            padding-top: 5px;
            font-size: 20px;
            color: #333333;
            line-height: 30px;
            font-weight: 500;
            @media #{$mobile} {
              font-size: 18px;
              line-height: 27px;
              margin-left: 0;
            }
            span{
              color: #07AD6D;
            }
          }
        }
        ul{
          list-style: circle;
          margin-left: 20px;
          li{
            font-size: 20px;
            color: #333333;
            font-weight: 400;
            line-height: 36px;
            margin-bottom: 20px;
            @media #{$pad} {
              margin-bottom: 10px;
            }
            @media #{$mobile} {
              font-size: 16px;
              line-height: 27px;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .info_3{
      .skillbg{
        background: #ffffff;
        padding: 60px 0 0;
        -webkit-border-radius: 50px;
        border-radius:50px;
        @media #{$pad} {
          padding: 40px 0;
        }
        .skill_list{
          padding: 0;
          margin: 0;
          .item{
            @media #{$mobile} {
              &:last-child{
                margin-bottom: 0;
              }
            }
            .skil_tt{
              span{
                &.onebg{
                  display: none;
                }
                &.third_word{
                  color: #333333;
                }
              }
            } 
            .footarea{
              p{
                @include alpha(1);
                color: #06ac69;
              }
              .foot{
                @include bg("a_skill_foot_1.png");
                @include transform(scale(1));
                @media #{$pc_s} {
                  @include bg_m("a_skill_foot_1_m.png");
                }
                &.foot_2{
                  @include bg("a_skill_foot_2.png");
                  @media #{$pc_s} {
                    @include bg_m("a_skill_foot_2_m.png");
                  }
                }
                &.foot_3{
                  @include bg("a_skill_foot_3.png");
                  @media #{$pc_s} {
                    @include bg_m("a_skill_foot_3_m.png");
                  }
                }
                &.foot_4{
                  @include bg("a_skill_foot_4.png");
                  @media #{$pc_s} {
                    @include bg_m("a_skill_foot_4_m.png");
                  }
                }
              }
            } 
          } 
        } 
      }
    }
  }
  .tabbox_mar{
    position: relative;
    padding: 0 27px;
    @media #{$mobile} {
      padding: 0 24px;
    }
    &::before{
      content: ""; 
      position: absolute;
      top: 24px;
      left: 0;
      width: 37px;
      height: 32px;
      background: url("#{$img_path}tab_bone_l.svg") center center no-repeat;
      @include background-size(contain);
      @media #{$mobile} {
        top: 9px;
        width: 25px;
      }
    }
    &::after{
      content: ""; 
      position: absolute;
      top: 24px;
      right: 0;
      width: 37px;
      height: 32px;
      background: url("#{$img_path}tab_bone_r.svg") center center no-repeat;
      @include background-size(contain);
      @media #{$mobile} {
        top: 9px;
        width: 25px;
      }
    }
  }
  .tabbox{
    background: url("#{$img_path}tabline.png") center bottom repeat-x;
    .item{
      float: left;
      text-align: center;
      .tab_a{
        position: relative;
        @extend %inline-block;
        background: none;
        font-size: 30px;
        color: #4B443D;
        line-height: 40px;
        letter-spacing: 2px;
        padding-bottom: 10px;
        @extend %bg_change; 
        @media #{$mobile} {
          font-size: 20px;
          line-height: 22px;
        }
        span{
          position: absolute;
          display: block;
          z-index: 3;
          bottom: -1px;
          left: 0;
          right: 100%;
          height: 5px;
          background: #CE7621;
          -webkit-transition-property: right;
          transition-property: right;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
        @media #{$pc} {
          &:hover{
            color: #CE7621;
            span{
              right: 0;
            }
          }
        }
        &.now{
          color: #CE7621;
          span{
            right: 0;
          }
        }
      }
    }
  }
}
.conbox{
  padding-top: 50px;
  margin: 0 -50px;
  @media #{$pad}{
    padding-top: 30px;
    margin: 0 -30px;
  }
  @media #{$mobile}{
    margin: 0 -15px;
  }
  .item{
    float: left;
    width: 50%;
    padding: 0 50px;
    display: block;
    margin-bottom: 80px;
    @media #{$pad}{
      padding: 0 30px;
      margin-bottom: 60px;
    }
    @media #{$mobile} {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &.work_2{
      .picarea{
        .pb{
          background: url("#{$img_path}work_list_2.png") center center no-repeat;
          @include background-size(contain);
        }
      }
    }
    &.work_3{
      .picarea{
        .pb{
          background: url("#{$img_path}work_list_3.png") center center no-repeat;
          @include background-size(contain);
        }
      }
    }
    &.work_4{
      .picarea{
        .pb{
          background: url("#{$img_path}work_list_4.png") center center no-repeat;
          @include background-size(contain);
        }
      }
    }
    &.work_5{
      .picarea{
        .pb{
          background: url("#{$img_path}work_list_5.png") center center no-repeat;
          @include background-size(contain);
        }
      }
    }
    &.work_6{
      .picarea{
        .pb{
          background: url("#{$img_path}work_list_6.png") center center no-repeat;
          @include background-size(contain);
        }
      }
    }
    &.work_7{
      .picarea{
        .pb{
          background: url("#{$img_path}work_list_7.png") center center no-repeat;
          @include background-size(contain);
        }
      }
    }
    &.work_8{
      .picarea{
        .pb{
          background: url("#{$img_path}work_list_8.png") center center no-repeat;
          @include background-size(contain);
        }
      }
    }
    &.work_9{
      .picarea{
        .pb{
          background: url("#{$img_path}work_list_9.png") center center no-repeat;
          @include background-size(contain);
        }
      }
    }
    .picarea{
      @extend %bg_change; 
      position: relative;
      width: 100%;
      border: solid 10px #fff;
      overflow: hidden;
      .pb{
        padding-bottom: 560/1052*100%;
        background: url("#{$img_path}work_list_1.png") center center no-repeat;
        @include background-size(contain);
      }
      .hoverbg{
        @extend %bg_change; 
        position: absolute;
        z-index: 3;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba($color: #333333, $alpha: 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        .gopic{
          width: 168/560*100%;
        }
      }
    }
    p{
      text-align: center;
      @extend %bg_change; 
      width: 100%;
      padding: 0 10px 10px;
      background: #fff;
      font-size: 24px;
      font-weight: 500;
      color: #333333;
      line-height: 32px;
      letter-spacing: 2px;
      @media #{$pad}{
        font-size: 20px;
        line-height: 30px;
      }
      @media #{$mobile}{
        font-size: 18px;
        line-height: 24px;
      }
    }
    @media #{$pc} {
      &:hover{
        .picarea{
          border: solid 10px #CE7621;
          .hoverbg{
            top: 0;
          }
        }
        p{
          background: #CE7621;
          color: #fff;
        }
      }
    }
  }
}